.App {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.App-content{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

button{
  background-color: #bababa;
  font-size: large;
  font-weight: bold;
  width: 12vh;
  height: 5vh; 
  border-radius: 10px;
  box-shadow: 5px 7px gray;
}

